# Entorno virtual de Python
venv/
ENV/
env/
.venv/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración de VSCode y otros editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs y temporales
*.log
*.tmp

# Archivos de Excel
*.xlsx

# Otros archivos que no quieres versionar
*.bak 